<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partial/head') %> 

<body>
	<!-- Header -->
	<% if (locals.usuario && locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">EDITAR MI PERFIL</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form class= "formulario" action="/usuario/editar-perfil/<%= locals.usuario.id %> " method="POST" enctype="multipart/form-data">
				<p>
				<label for="Nombre"> Nombre: </label>
				<input type="text" name="nombre_usuario" id="nombre_usuario" value="<%= locals.usuario.nombre_usuario %>" required>
				</p>

				<p>
				<label for="Apellido"> Apellido: </label>
				<input type="text" name="apellido_usuario" id="apellido_usuario" value="<%= locals.usuario.apellido_usuario %>" required>
				</p>

				<p>
				<label for="Email"> Email: </label>
				<input type="email" name="mail" id="mail" value="<%= locals.usuario.mail %>" required>
				</p>
				<p>
				<label for="imagen"> Imágen: </label>
				<input type="file" name="url_imagen_usuario" id="url_imagen_usuario" value="<%= locals.usuario.url_imagen_usuario %> ">
				</p>
				<% if (!locals.usuario.url_imagen_usuario) { %>
					<img src="<%= locals.usuario.url_imagen_usuario %> " alt="">
				<% } %>
				<p>
				<label for="descripcion"> Biografía: </label>
				<textarea name="texto_usuario" rows="1" cols="40" id="texto_usuario"><%= locals.usuario.texto_usuario %></textarea>
				</p>
				<p>
				<label for="fecha_nacimiento"> Fecha de nacimiento: </label>
				<input type="date" name="fecha_nacimiento" id="fecha_nacimiento" value="<%= locals.usuario.fecha_nacimiento %> ">
				</p>

				<p>
				<input type="submit" value="Enviar">
				</p>
				
			</form>
		</div>
    </div>
	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>

</html>