<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 
<body>
	<!-- Header -->
	
	<% if (locals.usuario && locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="">
		<img class="imagenCripto" src="/images/banner.jpeg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="font-family" class="products-title" >NOVEDADES</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i = 0; i < 4; i++){ %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/producto/detalleProduct/<%=resultado[i].id%>">
						<figure class="product-box_image">
							<img src="<%=resultado[i].url_imagen%>" alt="<%=resultado[i].nombre_producto%>">
						</figure>
						<article class="product-box_data">
							<h2><%=resultado[i].nombre_producto%></h2>
							<p><%=resultado[i].descripcion_corta%></p>
							<% if (resultado[i].num_comentarios == null) { %>
								<p>Comentarios: 0</p>
							<% }else{ %>
								<p>Comentarios: <%= resultado[i].num_comentarios %></p>
							<% } %> 

						</article>
					</a>
				</section>
			</div>
			<% } %> 
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="font-family" class="products-title">MAS COMENTADOS</h2>
			</div>
			<% for(let i = 0; i < 4; i++){ %>
			<!-- Show the "ultimos" products -->
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/producto/detalleproduct/<%=masComentados[i].id%>">
							<figure class="product-box_image">
								<img src="<%=masComentados[i].url_imagen%>" alt="<%=masComentados[i].nombre_producto%>">
							</figure>
							<article class="product-box_data">
								<h2><%=masComentados[i].nombre_producto%></h2>
								<p><%=masComentados[i].descripcion_corta%></p>
								<p>Comentarios: <%=masComentados[i].num_comentarios%></p>
							</article>
						</a>
					</section>
				</div>
			<% } %> 
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>	
</html>