<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 
<body id="fondo_blanco">
	<!-- Header -->
	<% if (locals.usuario && locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->

		<section class="info-usuario container products-wrapper">
			<div class="row">
				<div class="img-container offset-3 col-2">
					<% if (!locals.usuario.url_imagen_usuario) { %>
						<img src="https://developers.google.com/web/images/contributors/no-photo.jpg?hl=es" alt="https://via.placeholder.com/35" class="foto_perfil_usuario">		
					<% }else{ %>
						<img src="<%= locals.usuario.url_imagen_usuario %>" alt="imagen usuario" class="foto_perfil_usuario">
					<% } %>	
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title" id="titulo"> <%= locals.usuario.nombre_usuario %>  <%= locals.usuario.apellido_usuario %> </h1>
						<a class="datosUsuario" href="/usuario/editar-perfil/<%= locals.usuario.id %> ">
							<i class="fas fa-cog icono_editar"></i>
						</a>
					</div>
					<div>
						<ul class="">
							<li class="datosUsuario" id="titulo"><% if (!locals.usuario.cant_productos) { %>
								0 Productos</li>
							<% }else{ %>
								<%= locals.usuario.cant_productos%> Productos</li>
							<% } %> 
							<li class="datosUsuario" id="titulo"><% if (!locals.usuario.num_seguidores) { %>
								0 Seguidores</li>
							<% }else{ %>
								<%= locals.usuario.num_seguidores%> Seguidores</li>
							<% } %> 
							<li class="datosUsuario" id="titulo"><% if (!locals.usuario.num_comentarios_hechos) { %>
								0 Comentarios</li>
							<% }else{ %>
								<%= locals.usuario.num_comentarios_hechos%> Comentarios</li>
							<% } %> 
							<br>

							<li class="descripcion" id="titulo"> <%= locals.usuario.texto_usuario%></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<% if (!locals.usuario.cant_productos) { %>
						<h2 class="products-title" id="titulo">No cargaste ninguna cripto, que esperas para hacerlo</h2>
					<% }else{ %>
						<h2 class="products-title" id="titulo">Mis productos </h2>
					</div>

					<!-- Show mis productos -->
						<div class="productos-profile" id="seccion">
							<% producto.forEach(producto => { %>
							<section class="product-box" id="cada_producto">
								<a href="/producto/detalleProducto/<%= producto.id %> ">
									<figure class="product-box_image">
										<img src="<%= producto.url_imagen %>" alt="<%= producto.nombre_producto %>">
									</figure>
									<article class="product-box_data">
										<h2><%= producto.nombre_producto %></h2>
										<p><%= producto.descripcion_corta %></p>
										<p>Comentarios: <%= producto.num_comentarios %></p>
									</article>
								</a>
							</section>
							<% }) %>
						</div>
					<% } %> 
					
				</div>
			</div>
		</div>

	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>	
</html>