<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 
<body id="fondo_blanco">
	<!-- Header -->
	<% if (locals.usuario && locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>
	<!-- product detail -->
	<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="font-family" id="titulo"><%= cripto.nombre_producto %> </h2>
				<% if (locals.usuario && locals.usuario.mail){ %>  
					<% if(cripto.id_usuario == locals.usuario.id){ %> 
					<p class="product-detail-description">
						<a href="/producto/editar-producto/<%= cripto.id %>" class="edicion">EDITAR</a>
					</p>
					<p class="product-detail-description">
						<a href="/producto/product-delete/<%= cripto.id %>" class="edicion">BORRAR</a>
					</p>
					<% } else { %> 
						<!-- <p class="product-detail-description">
							<a href="/producto/agregar-wachlist/<%= //cripto.id %>" class="edicion">AGREGAR A WATCHLIST</a>
						</p> -->
					<% } %> 
				<% } %> 
			</div>
			<div class="product-detail" id="index">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%= cripto.url_imagen %>" alt="<%= cripto.nombre %>" class="foto_detalle">
						<p class="product-detail-description">
							<%= cripto.descripcion_larga %> 
						</p>
					</article>
					<div class="col-12 col-lg-4">
						<% for(let i=0; i < comentarios.length; i++){%> 
							<section class="comments">
								<article>
									<% if (comentarios[i].usuario.url_imagen_usuario == null) { %>
										<img src="https://developers.google.com/web/images/contributors/no-photo.jpg?hl=es" alt="https://via.placeholder.com/35" class="imagen_comentador">		
									<% }else{ %>
										<img src="<%= comentarios[i].usuario.url_imagen_usuario %>" alt="imagen usuario" class="imagen_comentador">
									<% } %>					
									<div class="data">
										<p class="user">
										<% if(locals.usuario.id == comentarios[i].id_usuario_comentador){ %> 
										<strong> <a href="/usuario/perfil/<%= comentarios[i].id_usuario_comentador %>"> <%= comentarios[i].usuario.nombre_usuario %>  <%= comentarios[i].usuario.apellido_usuario %> </a> </strong>
										<%= comentarios[i].texto %></p>
										<% }else{ %> 
										<strong> <a href="/usuario/profileUsuario/<%= comentarios[i].id_usuario_comentador %>"> <%= comentarios[i].usuario.nombre_usuario %>  <%= comentarios[i].usuario.apellido_usuario %> </a> </strong>
										<%= comentarios[i].texto %></p>
										<% } %> 
									</div>
								</article>
							</section>
						<% } %>
							<% if (locals.usuario && locals.usuario.mail){ %> 
								<% if (comentarios.length != 0){ %> 
									<form class="form" action="/producto/agregarComentario/<%= cripto.id %>" method="POST">
										<textarea name="texto" rows="5" cols="50" id="texto" placeholder="Agregar comentario"required></textarea>
										<label for="nombre">Fecha de hoy:</label>
										<input type="date" name="fecha_comentado" id="fecha_comentado"required>	
										<button type="submit" class="buy-now-button agregar_comentario">AGREGAR COMENTARIO</button>
									</form>
								<% } else { %>
									<form id="no_comentario" class="form" action="/producto/agregarComentario/<%= cripto.id %>" method="POST">
										<textarea name="texto" rows="5" cols="50" id="texto" placeholder="Agregar comentario"required></textarea>
										<label for="nombre">Fecha de hoy:</label>
										<input type="date" name="fecha_comentado" id="fecha_comentado"required>	
										<button type="submit" class="buy-now-button agregar_comentario">AGREGAR COMENTARIO</button>
									</form>
								<% } %>
							<% } else { %>
								<% if (comentarios.length != 0){ %> 
									<form action="">
										<button type="submit" class="buy-now-button gris" disabled>AGREGAR COMENTARIO</button>
									</form>
									<p class="comentario_info">Debes iniciar sesión para agregar un comentario</p>
								<% } else { %>
									<form action="">
										<button type="submit" class="buy-now-button no_agregar" disabled>AGREGAR COMENTARIO</button>
									</form>
									<p class="error_comentario">Debes iniciar sesión para agregar un comentario</p>
								<% } %>
							<% } %>
						</div>
					</div>
				</div>
	</div>
	<!-- /product detail -->
	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>	
</html>