<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 

<body>
	<!-- Header -->
	<% if (locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>

	<!-- product detail -->
	<div class="container products-wrapper">

			<div class="d-flex align-items-center">
				<h2 class="font-family" ><%= cripto.nombre_producto %> </h2> 
				<% if(cripto.id_usuario == locals.usuario.id){ %> 
				<p class="product-detail-description">
					<a href="/producto/product-edit/<%= cripto.id %>" class="edicion">EDITAR</a>
				</p>
				<p class="product-detail-description">
					<a href="/producto/product-delete/<%= cripto.id %>" class="edicion">BORRAR</a>
				</p>
				<% }else{} %> 
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%= cripto.url_imagen %> " alt=" <%= cripto.nombre %> " class="product-detail-img">
						<p class="product-detail-description">
							<%= cripto.descripcion_larga %> 
						</p>
					</article>
					<div class="col-12 col-lg-4">
						<% for(let i=0; i < comentarios.length; i++){%> 
							<section class="comments">
								<article>
									<% if (comentarios[i].usuario.url_imagen_usuario == null) { %>
										<img src="https://developers.google.com/web/images/contributors/no-photo.jpg?hl=es" alt="https://via.placeholder.com/35">		
									<% }else{ %>
										<img src="<%= comentarios[i].usuario.url_imagen_usuario %>" alt="imagen usuario">
									<% } %>					
									<div class="data">
										<p class="user">
										<strong> <a href="/user/profileUsuario/<%= comentarios[i].id_usuario_comentador %> "> <%= comentarios[i].usuario.nombre_usuario %>  <%= comentarios[i].usuario.apellido_usuario %> </a> </strong>
										<%= comentarios[i].texto %></p>
									</div>
								</article>
							</section>
						<% } %> 
							<form class="form" action="/producto/agregarComentario/<%= cripto.id %>" method="POST">
								<textarea name="texto" rows="5" cols="50" id="texto" placeholder="Agregar comentario"></textarea>
								<label for="nombre"> Fecha de hoy: </label>
								<input type="date" name="fecha_comentado" id="fecha_comentado">	
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
							<hr>
						</div>
					</div>
				</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->

</body>	
</html>