<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partial/head') %> 

<body>
	<!-- Header -->
	<% if (locals.usuario && locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form class= "formulario" action="/producto/product-edit/<%= cripto.id %> " method="POST" enctype="multipart/form-data">

				<p>
					<label for="imagen" >Imagen: </label>
					<input type="file" name="url_imagen" id="url_imagen" value= <%= cripto.url_imagen %>> 
				</p>
				<img src="<%= cripto.url_imagen %> " alt="">
				<p>
					<label for="nombre"> Nombre de la criptomoneda: </label>
					<input type="text" name="nombre_producto" id="nombre_producto" value= <%= cripto.nombre_producto %>>
				</p>
				<p>
				<p>
					<label for="nombre"> Fecha de hoy (AAAA-MM-DD): </label>
					<input type="text" name="fecha_publicacion" id="fecha_publicacion" value= <%= cripto.fecha_publicacion %>>
				</p>
				<p>
					<label for="Descripcion"> Descripción larga: </label>
					<textarea name="descripcion_larga" rows="10" cols="50" id="descripcion_larga"><%= cripto.descripcion_larga %></textarea>
				</p>
				<p>
					<label for="Descripcion"> Descripción corta (una frase): </label>
					<input type="text" name="descripcion_corta" id="descripcion_corta" value="<%= cripto.descripcion_corta %>">
				</p>

				<p>
				<button type="submit" value="enviar">Agregar criptomoneda</button>
				</p>
			
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>

</html>