<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 

<body>
	<!-- Header -->
	<%- include('./partial/header') %> 
	<!-- /Header -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<% for(let i=0; i < cripto.length; i++){%> 
			<% if(cripto[i].id == producto){ %> 
			<div class="d-flex align-items-center">
				<h2 class="products-title"><%= cripto[i].nombre %> </h2> 
				<p class="product-detail-description">
					<a href="/product-add">EDITAR</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%= cripto[i].imagen %> " alt=" <%= cripto[i].nombre %> " class="product-detail-img">
						<p class="product-detail-description">
							<%= cripto[i].descripcion %> 
						</p>
					</article>
					<div class="col-12 col-lg-4">
						<% for(let i=0; i < comentario.length; i++){%> 
							<% if(comentario[i].id_producto == producto){ %> 
							<section class="comments">
								<article>
									<img src="<%= comentario[i].imagen %> " alt="https://via.placeholder.com/35">
									<div class="data">
										<p class="user">
										<strong> <a href="/profile/<%= comentario[i].id_usuario_comentador %> "><%= comentario[i].nombre_usuario %>  </a> </strong>
										<%= comentario[i].texto %></p>
									</div>
								</article>
							</section>
							<form class="form" action="" method="POST">
								<input class="form-input" type="text" value="" placeholder="Agregar comentario">
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
							<hr>
							<% } %> 
						<% } %> 
						</div>
					</div>
				</div>
			<% } %> 
		<% } %> 
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->

</body>	
</html>