<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 
<body>
	<!-- Header -->
	<% if (locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>

	<!-- Datos del usuario -->

		<section class="info-usuario container products-wrapper">
			<%  for(let i = 0; i < usuarios.length; i++){%> 
			<div class="row">
				<div class="img-container offset-3 col-2">
					<% if (usuarios[i].url_imagen_usuario == null) { %>
						<img src="https://developers.google.com/web/images/contributors/no-photo.jpg?hl=es" alt="https://via.placeholder.com/35">		
					<% }else{ %>
						<img src="<%= usuarios[i].url_imagen_usuario %>" alt="imagen usuario">
					<% } %>	
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title"> <%= `${usuarios[i].nombre_usuario} ${usuarios[i].apellido_usuario}` %> </h1>
						<a class="btn mt-3 ml-4" href="">SEGUIR</a>
					</div>
					<div>
						<ul class="">
							<% if (usuarios[i].cant_productos == null) { %>
							<li class="datosUsuario">0 Productos</li>
							<% } else { %>
								<li class="datosUsuario"><%= usuarios[i].cant_productos%> Producto/s</li>
							<% } %> 
							<% if (usuarios[i].num_seguidores == null) { %>
								<li class="datosUsuario">0 Seguidores</li>
								<% } else { %>
									<li class="datosUsuario"><%= usuarios[i].num_seguidores%> Seguidor/es</li>
								<% } %> 
							<% if (usuarios[i].num_comentarios == null) { %>
								<li class="datosUsuario">0 Comentarios</li>
								<% } else { %>
									<li class="datosUsuario"><%= usuarios[i].num_comentarios%> Comentario/s</li>
								<% } %> 
							<li class="descripcion"> <%= usuarios[i].texto_usuario%></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Los productos de <%= usuarios[i].nombre %> </h2>
				</div>
				<% } %> 
			<% } %> 
			<!-- Show mis productos -->
				<div class="productos-profile" >
					<% for(let i=0; i < producto.length; i++){%> 
					<section class="product-box">
						<a href="/producto/detalleProduct/<%= producto[i].id %> ">
							<figure class="product-box_image">
								<img src="<%= producto[i].imagen %>" alt="<%= producto[i].nombre %>">
							</figure>
							<article class="product-box_data">
								<h2><%= producto[i].nombre %></h2>
								<p><%= producto[i].descripcion_corta %></p>
								<p>Comentarios: <%= producto[i].comentarios %></p>
							</article>
						</a>
					</section>
					<% } %> 
				</div>
			</div>
		</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>	
</html>