<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 
<body>
	<!-- Header -->
	<%- include('./partial/headerLogueado') %> 	
	<!-- /Header -->

	<!-- Datos del usuario -->

		<section class="info-usuario container products-wrapper">
			<%  for(let i = 0; i < usuarios.length; i++){%> 
				<% if(usuarios[i].id == idUsuario){ %> 
			<div class="row">
				<div class="img-container offset-3 col-2">
					<% if(usuarios[i].url_imagen_usuario == null){ %> 
						<img src="https://developers.google.com/web/images/contributors/no-photo.jpg?hl=es" alt="https://via.placeholder.com/35" class="foto-perfil">
					<% }else{ %> 
						<img src="<%= usuarios[i].url_imagen_usuario %>" alt="<%= usuarios[i].nombre %>" class="foto-perfil">
					<% } %> 
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title"> <%= `${usuarios[i].nombre} ${usuarios[i].apellido}` %> </h1>
						<a class="btn mt-3 ml-4" href="">SEGUIR</a>
					</div>
					<div>
						<ul class="">
							<% if (usuarios[i].cantidad_productos == null) { %>
							<li class="datosUsuario">0 Productos</li>
							<% } else { %>
								<li class="datosUsuario"><%= usuarios[i].cantidad_productos%> Producto/s</li>
							<% } %> 
							<% if (usuarios[i].numero_seguidores == null) { %>
								<li class="datosUsuario">0 Seguidores</li>
								<% } else { %>
									<li class="datosUsuario"><%= usuarios[i].numero_seguidores%> Seguidor/es</li>
								<% } %> 
							<% if (usuarios[i].numero_comentarios == null) { %>
								<li class="datosUsuario">0 Comentarios</li>
								<% } else { %>
									<li class="datosUsuario"><%= usuarios[i].numero_comentarios%> Comentario/s</li>
								<% } %> 
							<li class="descripcion"> <%= usuarios[i].texto_usuario%></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Los productos de <%= usuarios[i].nombre %> </h2>
				</div>
				<% } %> 
			<% } %> 
			<!-- Show mis productos -->
				<div class="productos-profile" >
					<% for(let i=0; i < producto_usuario.length; i++){%> 
						<% if(producto_usuario[i].id_usuario == idUsuario){ %> 
					<section class="product-box">
						<a href="/detalleProduct/<%= producto_usuario[i].id %> ">
							<figure class="product-box_image">
								<img src="<%= producto_usuario[i].imagen %>" alt="<%= producto_usuario[i].nombre %>">
							</figure>
							<article class="product-box_data">
								<h2><%= producto_usuario[i].nombre %></h2>
								<p><%= producto_usuario[i].descripcion_corta %></p>
								<p>Comentarios: <%= producto_usuario[i].comentarios %></p>
							</article>
						</a>
					</section>
						<% } %> 
					<% } %> 
				</div>
			</div>
		</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>	
</html>