<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 
<body id="fondo_blanco">
	<!-- Header -->
	<% if (locals.usuario && locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->

		<section class="info-usuario container products-wrapper">
			<div class="row">
				<div class="img-container offset-3 col-2">
					<% if (!usuariosGenerales.url_imagen_usuario) { %>
						<img src="https://developers.google.com/web/images/contributors/no-photo.jpg?hl=es" alt="https://via.placeholder.com/35" class="foto_perfil_usuario">		
					<% }else{ %>
						<img src="<%= usuariosGenerales.url_imagen_usuario %>" alt="imagen de <%= usuariosGenerales.nombre_usuario %>" class="foto_perfil_usuario">
					<% } %>	
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title" id="titulo"> <%= usuariosGenerales.nombre_usuario %>  <%= usuariosGenerales.apellido_usuario %> </h1>
					</div>
					<div>
						<ul class="">
							<li class="datosUsuario" id="titulo"><% if (!usuariosGenerales.cant_productos) { %>
								0 Productos</li>
							<% }else{ %>
								<%= usuariosGenerales.cant_productos%> Productos</li>
							<% } %> 
							<li class="datosUsuario" id="titulo"><% if (!usuariosGenerales.num_seguidores) { %>
								0 Seguidores</li>
							<% }else{ %>
								<%= usuariosGenerales.num_seguidores%> Seguidores</li>
							<% } %> 
							<li class="datosUsuario" id="titulo"><% if (!usuariosGenerales.num_comentarios_hechos) { %>
								0 Comentarios</li>
							<% }else{ %>
								<%= usuariosGenerales.num_comentarios_hechos%> Comentarios</li>
							<% } %> 
							<br>

							<li class="descripcion" id="titulo"> <%= usuariosGenerales.texto_usuario%></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<% if (!usuariosGenerales.cant_productos) { %>
						<h2 class="products-title" id="titulo"><%= usuariosGenerales.nombre_usuario %> Aún no ha subido criptomonedas, vuelve mas tarde para ver si esto cambia </h2>
				</div>
					<% }else{ %>
					<h2 class="products-title" id="titulo">Los productos de <%= usuariosGenerales.nombre_usuario %> </h2>
				</div>
					<% } %> 
			<!-- Show mis productos -->
				<div class="productos-profile" id="seccion">
					<% for(let i = 0; i < usuariosGenerales.producto.length; i++){ %>
					<section class="product-box" id="cada_producto">
						<a href="/producto/detalleProducto/<%= usuariosGenerales.producto[i].id %> ">
							<figure class="product-box_image">
								<img src="<%= usuariosGenerales.producto[i].url_imagen %>" alt="<%= usuariosGenerales.producto[i].nombre_producto %>">
							</figure>
							<article class="product-box_data">
								<h2><%= usuariosGenerales.producto[i].nombre_producto %></h2>
								<p><%= usuariosGenerales.producto[i].descripcion_corta %></p>
								<p>Comentarios: <%= usuariosGenerales.producto[i].num_comentarios %></p>
							</article>
						</a>
					</section>
					<% } %>
				</div>
			</div>
		</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>	
</html>