<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 
<body>
	<!-- Header -->
	<%- include('./partial/headerLogueado') %> 
	
	<!-- /Header -->

	<!-- Datos del usuario -->

		<section class="info-usuario container products-wrapper">
			<div class="row">
				<div class="img-container offset-3 col-2">
					<img src=<%= imagen %> alt="foto de perfil" class="foto-perfil">
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title"> <%= usuario.nombre_usuario %>  <%= usuario.apellido_usuario %> </h1>
						<a class="datosUsuario" href="/user/profile-edit/<%= locals.id %> ">
							<i class="fas fa-cog"></i>
						</a>
					</div>
					<div>
						<ul class="">
							<li class="datosUsuario"><%= usuario.cant_productos%> Productos</li>
							<li class="datosUsuario"><%= usuario.num_seguidores%> Seguidores</li>
							<li class="datosUsuario"> <%= usuario.num_comentarios_hechos%> Comentarios</li>
							<br>

							<li class="descripcion"> <%= usuario.texto_usuario%></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Mis productos </h2>
				</div>

			<!-- Show mis productos -->
				<div class="productos-profile" >
					<% producto.forEach(producto => { %>
					<section class="product-box">
						<a href="/producto/detalleProduct/<%= producto.id %> ">
							<figure class="product-box_image">
								<img src="<%= producto.url_imagen %>" alt="<%= producto.nombre_producto %>">
							</figure>
							<article class="product-box_data">
								<h2><%= producto.nombre_producto %></h2>
								<p><%= producto.descripcion_corta %></p>
								<p>Comentarios: <%= producto.num_comentarios %></p>
							</article>
						</a>
					</section>
					<% }) %>
				</div>
			</div>
		</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>	
</html>