<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partial/head') %> 
<body>
	<!-- Header -->
	<% if (locals.usuario && locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->

		<section class="info-usuario container products-wrapper">
			<div class="row">
				<div class="img-container offset-3 col-2">
					<% if (!usuariosGenerales.url_imagen_usuario) { %>
						<img src="https://developers.google.com/web/images/contributors/no-photo.jpg?hl=es" alt="https://via.placeholder.com/35">		
					<% }else{ %>
						<img src="<%= usuariosGenerales.url_imagen_usuario %>" alt="imagen de <%= usuariosGenerales.nombre_usuario %> ">
					<% } %>	
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title"> <%= usuariosGenerales.nombre_usuario %>  <%= usuariosGenerales.apellido_usuario %> </h1>
						<% if (locals.usuario && locals.usuario.mail){ %> 
							<a class="btn mt-3 ml-4" href="">SEGUIR</a>
						<% } else { %>
							<a class="btn mt-3 ml-4 gris" href="" style="pointer-events: none">SEGUIR</a>
						<% } %>
					</div>
					<div>
						<ul class="">
							<li class="datosUsuario"><%= usuariosGenerales.cant_productos%> Productos</li>
							<li class="datosUsuario"><%= usuariosGenerales.num_seguidores%> Seguidores</li>
							<li class="datosUsuario"> <%= usuariosGenerales.num_comentarios_hechos%> Comentarios</li>
							<br>

							<li class="descripcion"> <%= usuariosGenerales.texto_usuario%></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<% if (!usuariosGenerales.cant_productos) { %>
						<h2 class="products-title"><%= usuariosGenerales.nombre_usuario %> aun no ha subido criptomonedas, vuelve mas tarde para ver si esto cambia </h2>
				</div>
					<% }else{ %>
					<h2 class="products-title">Los productos de <%= usuariosGenerales.nombre_usuario %> </h2>
				</div>
					<% } %> 
			<!-- Show mis productos -->
				<div class="productos-profile" >
					<% for(let i = 0; i < usuariosGenerales.producto.length; i++){ %>
					<section class="product-box">
						<a href="/producto/detalleProduct/<%= usuariosGenerales.producto[i].id %> ">
							<figure class="product-box_image">
								<img src="<%= usuariosGenerales.producto[i].url_imagen %>" alt="<%= usuariosGenerales.producto[i].nombre_producto %>">
							</figure>
							<article class="product-box_data">
								<h2><%= usuariosGenerales.producto[i].nombre_producto %></h2>
								<p><%= usuariosGenerales.producto[i].descripcion_corta %></p>
								<p>Comentarios: <%= usuariosGenerales.producto[i].num_comentarios %></p>
							</article>
						</a>
					</section>
					<% } %>
				</div>
			</div>
		</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>	
</html>