<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partial/head') %> 

<body>
	<!-- Header -->
	<% if (locals.usuario && locals.usuario.mail) { %>
		<%- include('./partial/headerLogueado') %>
	<% } else { %>
		<%- include('./partial/header') %> 
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">RESULTADO DE BUSQUEDA: "<%= buscador %>" </h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i = 0; i < cripto.length; i++){ %>  
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/producto/detalleproduct/<%= cripto[i].id %> ">
							<figure class="product-box_image">
								<img src="<%= cripto[i].url_imagen %> " alt="<%= cripto[i].nombre_producto %> ">
							</figure>
							<article class="product-box_data">
								<h2><%= cripto[i].nombre_producto %> </h2>
								<p><%= cripto[i].descripcion_corta %> </p>
								<p>Comentarios: <%= cripto[i].num_comentario %> </p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
		


	<!-- footer -->
	<%- include('./partial/footer') %> 
	<!-- /footer -->
</body>

</html>